---
layout: default
title: I'm Crhan
---


<div id="home">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <article ></article>
    <article itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <h2 itemprop="headline">
        <strong>
          <a href="{{post.url}}" rel="bookmark" title="{{post.title}}">
            {{ post.title }}
          </a>
        </strong>
      </h2>
      <p class="desc" itemprop="text">{{ post.description }}</p>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
</div>
