<div class="footer">
  <div class="contact">
    <p>
      {{site.author.name}}<br />
      {{site.author.job}}<br />
      <a href="mailto:{{site.author.email.address}}?subject={{site.author.email.subject}}">
        {{site.author.email.show_name}}&lt;{{site.author.email.address}}&gt;
      </a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/{{site.author.github}}/">github.com/{{site.author.github}}</a> <br />
      <a href="https://twitter.com/{{site.author.twitter}}/">twitter.com/{{site.author.twitter}}</a> <br />
    </p>
  </div>
</div>
