<div class="sidebar">
  <a href="/">
    <img class="bio-photo" src="http://s.gravatar.com/avatar/1b3deb5d9cf163a796b71aae1f34fbbb?s=150&r=g" alt="Ruohan Chen">
  </a>
  <h3><a href="/">Ruohan Chen</a></h3>
  <ul>
  <p>DevOps @ Alibaba-inc</p>
  <li>
    <a class="author-social" href="https://github.com/crhan">
      <i class="icon-github"></i>
      crhan
    </a>
  </li>

  <li>
    <a class="author-social" href="https://twitter.com/ruohanc">
      <i class="icon-twitter"></i>
      ruohanc
    </a>
  </li>

  <li>
    <a class="author-social" href="http://www.linkedin.com/pub/ruohan-chen/42/6/730">
      <i class="icon-linkedin"></i>
      ruohan-chen
    </a>
  </li>

  <li>
    <a class="author-social" href="https://coderwall.com/crhan">
      <img alt="Endorse crhan on Coderwall" src="https://api.coderwall.com/crhan/endorsecount.png" />
    </a>
  </li>
  </ul>
</div>
