.footer-container {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  margin-top: 1em;
  clear: both;
  background-color: #111;

  footer {
    width: 83.3333%;
    margin-left:  8.333%;
    margin-right: 8.333%;

    @media (min-width: @screen-sm-min) {
      width: 66.6%;
      margin-left: 25%;
      margin-right: 25%;
    }

    @media (min-width: @screen-lg-min) {
      width: 44%;
      margin: auto;
    }
  }

  span {
    color: #afafaf;
  }

  a {
    color: #bfbfbf;
    border-bottom: 0 solid transparent;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
      color: #fff;
      border-bottom: 0 solid transparent;
    }
  }
}
