@import "sidebar.less";
@import "masthead.less";
@import "footer.less";
@import "variables.less";

body, html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}

.container {
  position: relative;
}

article {
  h2 {
    margin-bottom: 0px;
    font-size: ceil((@font-size-base * 1.5));
  }

  .desc {
    color: lighten(@link-color, 20%);
  }
}
