<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container">
      <div class="site">
        {% comment %}{% include nav.html %}{% endcomment %}
        <div class="row">
          <div class="col-md-3">

            {% include sidebar.html %}

          </div>
          <div class="col-xs-9">

            {{ content }}

          </div>
        </div>

      </div>
    </div> <!-- /container -->
    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>
